!!! Strict

%html{html_attrs('en-us')}
  %head
    %title iPhone Level Editor
    %link{:type => "text/css", :href => "/main.css", :media => "screen", :rel => "stylesheet"}
    %link{:type => "text/css", :href => "/stylesheets/colorpicker.css", :media => "screen", :rel => "stylesheet"}

    %script{:type => "text/javascript", :src => "javascripts/jquery-1.3.2.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery-ui.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/sammy-0.3.0.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/colorpicker.js"}
    %script{:type => "text/javascript", :src => "javascripts/app.js"}

  #header
    %ul{:id => "nav"}
      %li New Level
      %li Export Level Pack
      %li Import Level Pack
      %li Import Texture

  #notice

  #content
    #levels
      %h2 Level
    #canvas
      #iphone-case{:class => "horizontal"}
        #iphone
      #options
        %a{:href => "#/flip"} Change Orientation
      #sprite
        %a{:href => "#/close", :id => :close}
        %a{:href => "#/delete"} Remove Sprite 
        #position
          Located at
          %span{:id => :x}
          x
          %span{:id => :y}
        Z-Index
        %a{:id => "layer-to-bottom", :href => "#/move-layer/bottom", :title => "Send to back"}
        %a{:id => "layer-down", :href => "#/move-layer/-1", :title => "Move down"}
        %a{:id => "layer-up", :href => "#/move-layer/1", :title => "Move up"}
        %a{:id => "layer-to-front", :href => "#/move-layer/top", :title => "Send to front"}
        %br
        Tag
        %input{:id => :tag, :type => :text}
    #textures
      %h2 Sprites

  #footer
    %p
      Brought to you by
      %a{:href => "http://www.appsbynick.com"} appsbynick
