html
  width: 1420px

#form
  display: none

#header
  display: none
  border-bottom: 1px solid gray
  ul#nav
    list-style-type: none
    li
      float: left
      display: block
      width: 25%
      text-align: center

#content
  margin: 2em auto
  text-align: center
  #level-packs
    li

  #levels
    float: left
    width: 220px

    .level-options
      padding-top: 1em

    #level-pack-options
      #new-level-pack
        border: 0px 
        padding: 8px 8px
        margin: 0 5px
        margin-top: 0 5px
        border: 1px solid red
        background: url(/images/icons/folder_add.png) no-repeat
      #export-level-pack
        border: 0px 
        padding: 8px 8px
        margin: 0 5px
        margin-top: 0 5px
        background: url(/images/icons/color_wheel.png) no-repeat
        border: 1px solid red

    li
      text-align: left
      a
        padding: 5px
      a.selected-level
        border: 1px solid red

      .delete-level,
      .delete-sprite
        border: 0px 
        padding: 0px 8px
        margin: 0 5px
        margin-top: 0 5px
        background: url(/images/icons/delete.png) no-repeat

  #textures
    width: 320px
    float: right
    #texture-options
      #new-texture
        border: 0px 
        padding: 0 8px
        margin: 0 5px
        margin-top: 0 5px
        background: url(/images/icons/folder_add.png) no-repeat

  #levels, #textures
    overflow: hidden 
    div
      h2
        border: 1px solid #000

  #canvas
    border: 1px solid gray
    width: 731px
    margin: 0 2em
    float: left

    #options
      a
        border: 0px 
        padding: 0 8px
        margin: 0 5px
        margin-top: 0 5px

      #color-wheel
        background: url(/images/icons/color_wheel.png) no-repeat

      #new-level
        background: url(/images/icons/new.png) no-repeat

      #save-level
        background: url(/images/icons/disk.png) no-repeat

      #save-level-as
        background: url(/images/icons/disk_multiple.png) no-repeat

      #clear
        background: url(/images/icons/cross.png) no-repeat

      #change-orientation.clockwise
        background: url(/images/icons/arrow_rotate_clockwise.png) no-repeat

      #change-orientation.anticlockwise
        background: url(/images/icons/arrow_rotate_anticlockwise.png) no-repeat

    #layer-to-bottom, #layer-down, #layer-up, #layer-to-front
      padding: 0 8px
      margin: 0 5px
      margin-top: 0 5px

    #layer-to-bottom
      background: url(/images/icons/shape_move_back.png) no-repeat

    #layer-down
      background: url(/images/icons/shape_move_backwards.png) no-repeat

    #layer-up
      background: url(/images/icons/shape_move_forwards.png) no-repeat

    #layer-to-front
      background: url(/images/icons/shape_move_front.png) no-repeat

    #iphone-case
      margin: 0 auto
      #iphone
        z-index: -10000
        margin: 0 auto
        background: #000
        width: 480px
        height: 320px
        border: 2px solid

    #iphone-case.horizontal
      width: 731px
      height: 365px
      background: url(/images/iphone_horizontal.gif) no-repeat
      padding-top: 35px

    #iphone-case.vertical
      width: 401px
      height: 610px
      background: url(/images/iphone_vertical.gif) no-repeat
      padding-top: 123px
      padding-left: 2px

    #sprite
      position: relative
      border: 2px solid
      padding: 1em

      #close
        position: absolute
        right: 0
        top: 0
        border: 2px solid #000
        border-top: 0px 
        border-right: 0px 
        display: block
        height: 16px
        width: 16px
        background: url(/images/icons/cancel.png)

#footer
  clear: left
  p
    padding-top: 10px
    border-top: 1px solid gray
    text-align: center
