<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple/DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fire.png</key>
	<dict>
		<key>x</key>
		<integer>619</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>91</integer>
		<key>h</key>
		<integer>96</integer>
		<key>offsetX</key>
		<integer>1</integer>
		<key>offsetY</key>
		<integer>1</integer>
	</dict>
	<key>faded_bg.png</key>
	<dict>
		<key>x</key>
		<integer>310</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>308</integer>
		<key>h</key>
		<integer>445</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>bg.png</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>308</integer>
		<key>h</key>
		<integer>445</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>life.png</key>
	<dict>
		<key>x</key>
		<integer>907</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>20</integer>
		<key>h</key>
		<integer>20</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>tack.png</key>
	<dict>
		<key>x</key>
		<integer>769</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>54</integer>
		<key>h</key>
		<integer>53</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>ball.png</key>
	<dict>
		<key>x</key>
		<integer>711</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>57</integer>
		<key>h</key>
		<integer>58</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>brick.png</key>
	<dict>
		<key>x</key>
		<integer>824</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>82</integer>
		<key>h</key>
		<integer>42</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>